{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block main %}

    <main class="container-fluid py-5 text-center">

        <div class="card">
            <div class="card-header">
            </div>
            {% for result in results %}
            <div class="card-body" style="padding-left:40px;">
                <img src="{{result["image"]}}" class="order-img" alt="...">
                <h5 class="card-title">{{result["name"]}}</h5>
                <h4 class="card-title">${{result["price"]}}</h4>
                <p class="card-text">{{result["description"]}}</p>
                    <button style="margin-bottom:10px;" class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Place order!</button>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Order</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Confirm your order to pay on delivery</p>
                    <form action="/success" method="post">
                        <input style="display:none;" name="product" value={{result["id"]}}>
                        <input class="form-control form-control-sm mx-auto" name="amount" type="number" placeholder="Quantity" aria-label=".form-control-sm example" style="width:100px; margin-bottom:10px;" required >
                        <button style="margin-bottom:10px;" class="btn btn-primary" type="submit">Place order!</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}

         {% if results[0] == NULL%}
              <img class="mx-auto" src="https://i.kym-cdn.com/photos/images/original/000/285/884/44d.jpg" id="oops" alt="Italian Trulli">
              <h2>no items in cart</h2>
        {% endif %}

        <div class="card" style="bottom:-460px;">
        <div class="card-header" style="font-size: large;">
        </div>
        
    </main>
{% endblock %}
