{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
     <main class="container-fluid py-5 text-center">
        <form action="/login" method="post">
            <div class="mb-3">
                <h4>Email</h4>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="hi@email.com" type="text" required>
            </div>
            <div class="mb-3">
                <h4>Password</h4>
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>

        <div class="card" style="bottom:-460px;">
        <div class="card-header" style="font-size: large;">
        </div>
        
    </main>
{% endblock %}
