{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <main class="container-fluid py-5 text-center">
        <form action="/register" method="post">
            <div class="mb-3">
                <h4>Email</h4>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="hi@email.com" type="text">
            </div>
            <div class="mb-3">
                <h4>Password</h4>
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" minlength="4">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirm Password" type="password" minlength="4">
            </div>
            <div class="mb-3">
                <h4>Shipping address</h4>
                <textarea style="width:30%" class="form-control mx-auto" id="address" name="address" rows="3" required></textarea>
            </div>
            <button class="btn btn-primary" type="submit">sign up</button>
        </form>

        <div class="card" style="bottom:-460px;">
        <div class="card-header" style="font-size: large;">
        </div>
        
    </main>
{% endblock %}
