{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <main class="container-fluid py-5 text-center">
        <div class="card mb-3">
          <img class="mx-auto" style="width:50%" src="https://www.pngkit.com/png/full/781-7817952_delivery-icon-transparent-background-shipping-cost-icon.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Your order has been shipped to your registered address!</h5>
            <p class="card-text">Check your email for tracking ID and shipment confirmation.</p>
            <p class="card-text">Payment on delivery.</p>
            <p class="card-text"><small class="text-muted">Thank you for shopping with Amar Care!</small></p>
          </div>
        </div>
        <div class="card" style="bottom:-460px;">
        <div class="card-header" style="font-size: large;">
        </div>

    </main>
{% endblock %}
